/* styles/globals.css */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* Ekran yüksekliği kadar alan kaplar */
	text-align: center;
}

.gif-container {
	margin-top: 20px;
	/* İhtiyaca göre ayarlayabilirsiniz */
}

.gif {
	width: 400px;
	/* Gif boyutunu istediğiniz gibi ayarlayabilirsiniz */
	height: 400px;
}

.custom-button {
	border: none;
	border-radius: 50%; /* Butonu yuvarlak yapmak için */
	background-color: transparent; /* Arka planı şeffaf yapmak için */
	cursor: pointer;
	position: relative;
	transition: background-color 0.3s ease; /* Hover ettiğinde arka plan renginin değişmesi için animasyon eklemek */
}

.custom-button:hover {
	background-color: red; /* Üzerine gelindiğinde arka plan rengini kırmızı yapmak */
}

.button-icon {
	width: 50px; /* İkon genişliği */
	height: 50px; /* İkon yüksekliği */
}
